@model Library.User;
@{
    ViewBag.Title = "Удаление пользователя";
}
<form asp-action="delete" asp-controller="home">
    <div class="form-group">
        <label asp-for="Id" class="control-label">Введите Id элемента</label>
        <input type="number" asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить"/>
    </div>
</form>
